/* v1.0.5 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,blockquote,th,td,span,a {
  margin:0;
  padding:0;
}
body {
  overflow: hidden;
}
.royalSlider {
  width: 600px;
  height: 400px;
  position: relative;
  direction: ltr;
}
.royalSlider > * {
  float: left;
}
.rsWebkit3d .rsSlide {
  -webkit-transform: translateZ(0);
}
.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl,
.rsWebkit3d .rsABlock,
.rsWebkit3d .rsLink {
  -webkit-backface-visibility: hidden;
}
.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
  -webkit-transform: none;
}
.rsOverflow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rsVisibleNearbyWrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rsVisibleNearbyWrap .rsOverflow {
  position: absolute;
  left: 0;
  top: 0;
}
.rsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rsArrow,
.rsThumbsArrow {
  cursor: pointer;
}
.rsThumb {
  float: left;
  position: relative;
}
.rsArrow,
.rsNav,
.rsThumbsArrow {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.rsHidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -moz-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -o-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}
.rsGCaption {
  width: 100%;
  float: left;
  text-align: center;
}
/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 2147483647 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}
.royalSlider .rsSlide.rsFakePreloader {
  opacity: 1 !important;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  display: none;
}
.rsSlide {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
  height: auto;
}
.rsContent {
  width: 100%;
  height: 100%;
  position: relative;
}
.rsPreloader {
  position: absolute;
  z-index: 0;
}
.rsNav {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}
.rsNavItem {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
}
.rsThumbs {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 22;
}
.rsTabs {
  float: left;
  background: none !important;
}
.rsTabs,
.rsThumbs {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rsVideoContainer {
  width: auto;
  height: auto;
  line-height: 0;
  position: relative;
}
.rsVideoFrameHolder {
  position: absolute;
  left: 0;
  top: 0;
  background: #141414;
  opacity: 0;
  -webkit-transition: .3s;
}
.rsVideoFrameHolder.rsVideoActive {
  opacity: 1;
}
.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 44px;
}
.rsABlock {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 15;
}
img.rsImg {
  max-width: none;
}
.grab-cursor {
  /*cursor: url(grab.png) 8 8, move;*/
}
.grabbing-cursor {
  /*cursor: url(grabbing.png) 8 8, move;*/
}
.rsNoDrag {
  cursor: auto;
}
.rsLink {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 20;
  background: url(blank.gif);
}

/* loading 2015-01-13 */
#loading {
  height:80px;
  padding:5px;
  width:300px;
  display:none;
}
#loading>i{
  width:66px;
  height:66px;
  border-radius:50px;
  border:3px solid #b91622;
  background:#fff;
  display:inline-block;
  line-height:60px;
  position:relative;
  z-index:2;
  bottom:0;
}
#loading>i:after {
  content:'';
  display:block;
  border-radius:50px;
  background:#b91622;
  width:60px;
  height:60px;
  margin:3px;
  overflow:hidden;
}
#loading>i:before {
  content:"";
  background:url(../../statics/images/loading/loading-ico.png) no-repeat;
  background-position:0 0;
  width:60px;
  height:45px;
  background-size:50px auto;
  display:block;
  position:absolute;
  top:10px;
  clear:both;
  left:8px;
}

#loading>i.complete:before{
  content:"";
  background:url(../../statics/images/loading/loading-ico.png) no-repeat;
  background-position:0 -40px;
  width:60px;
  height:20px;
  background-size:45px auto;
  display:block;
  position:absolute;
  top:35.6%;
  clear:both;
  left:14px;
}
#loading>span {
  width:78%;
  height:25px;
  border:2px solid #b91622;
  border-radius:13px;
  background:#fff;
  position:absolute;
  z-index:1;
  left:54px;
  top:28px;
}
#loading>span>i.progress_len {
  margin:1px -2px;
  background:#b91622;
  width:0%;
  display:block;
  height:23px;
  transition:width ease-in 0.2s;
  -webkit-transition:width ease-in 0.2s;
  border-radius:12px;
}
#loading>span:before {
  content:"";
  background:url(../../statics/images/loading/loading-txt.png) no-repeat;
  width:150px;
  height:20px;
  background-size:100% auto;
  background-position:0 0;
  display:block;
  position:absolute;
  top:-110%;
  clear:both;
  left:20%;
}
/* snow 2015-01-14 */
.snow{
  position:absolute;
  z-index:6;
}
/*public*/
.container {
  background:url(../../statics/images/bg.jpg) no-repeat;
  background-size: 400px auto;
  width:100%;
  height:100%;
  position:absolute;
  color:#fff;
}
/*pages_01*/
.container .gift {
  margin:10px;
  text-align: center;
}
.container .gift>i.gift_header{
  background:url(../../statics/images/pages1/gift.png) no-repeat;
  width:100%;
  height:90px;
  background-size:100% auto;
  position:relative;
  z-index:2;
  top:0;
  opacity: 1;
  display:none;
}
.container .gift_rect {
  width:96%;
  border:6px solid #fff;
  height:23px;
  margin-top:1%;
  position:relative;
  display: none;
}
.container .gift_rect_bor,.container .gift_rect_bor_1{
  border-left:6px solid #fff;
  border-right:6px solid #fff;
  height:80px;
  margin:0px 20px 0;
  position:relative;
  display: none;
}
.container .gift_rect_bor_1 {
  border-bottom:6px solid #fff;
  bottom:20px;
  position: relative;
}
.Jdown {
  animation:Jumpdown 1s;
  -webkit-animation:Jumpdown 1s;
}
.Jup {
  animation:Jumpup 1s;
  -webkit-animation:Jumpup 1s;  
}
.Scale {
  animation:Scale 0.8s ease-in;
  -webkit-animation:Scale 0.8s ease-in;
}
/*Jumpdown*/
@-webkit-keyframes Jumpdown{
  from {
    top:-200px;
    opacity: 0;
  }
  to {
    top:0px;
    opacity: 1;
  }
}
/*Jumpup*/
@-webkit-keyframes Jumpup{
  from {
    bottom:-200px;
    opacity: 0;
  }
  to {
    bottom:20px;
    opacity: 1;
  }
}
/*Scale*/
@-webkit-keyframes Scale {
  0% {
    -webkit-transform:scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform:scale(1);
    opacity: 1;
  }
}
.container i.gift_txt {
  background:url(../../statics/images/pages1/gift_txt.png) no-repeat;
  display:inline-block;
  width:300px;
  height:136px;
  background-size:300px auto;
  position:relative;
  top:-30px;
  display:none;
  margin:0 auto;
}
.container .pb_footer .down {
  background:url(../../statics/images/icon.png) no-repeat;
  display:inline-block;
  width:20px;
  height:8px;
  background-position:0 0;
  background-size:30px auto;
  bottom:20px;
  left:50%;
  position:absolute;
  animation:down 1.2s infinite;
  -webkit-animation:down 1.2s infinite;
}
/*down animation*/
@-webkit-keyframes down {
  from {
    bottom:20px;
    opacity: 1;
  }
  to {
    bottom:10px;
    opacity:0;
  }
}
.container .pb_footer .music {
  background:url(../../statics/images/icon.png) no-repeat;
  display:inline-block;
  width:30px;
  height:30px;
  background-position:0 -8px;
  background-size:30px auto;
  bottom:20px;
  position:absolute;
  right:10px;
  z-index:10;
}
/*2015-01-15 tonight*/
.container .pb_footer .music>s {
	width:30px;
	height:20px;
	border-radius:10px;
	background:rgba(255,255,255,0.3);
	color:#fff;
	position:absolute;
	z-index:2;
	display:block;
}
/*music animation*/
@-webkit-keyframes music {
  0% {
    -webkit-transform:rotate(0deg);
    opacity:1;
  }
  100% {
    -webkit-transform:rotate(360deg);
    opacity:1;
  }
}
/*pages_02*/
.container .gift .mail_insert {
  background:rgba(255,255,255,0.2);
  height:340px;
  width:78%;
  margin:-25px auto 0;
  color:#fff;
  font-family: "Microsoft yahei";
  text-align: left;
  padding:0 14px;
  overflow-wrap: break-word;
}
.container .gift .mail_insert .mail_header {
  padding-top:18%;
  padding-bottom: 6%;
}
.container .gift .mail_insert .mail_txt {
  text-indent: 2em;
  line-height:28px;
  width:100%;
  word-break: break-all;
  word-wrap: break-word;
}
.container .gift .mail_insert>p:nth-child(3),.container .gift .mail_insert>p:nth-child(4),.container .gift .mail_insert>p:nth-child(5){
  opacity: 1;
  -webkit-opacity:1;
  display:none;
}
.fadeIn {
  animation:opacity 5s;
  -webkit-animation:opacity 5s;
}
.container .gift .mail_insert>p:nth-child(3){
  text-align:center;
}
.container .gift .mail_insert>p:nth-child(4){
  margin-top:10px;
  text-align: right;
  margin-bottom: 5px;
}
.container .gift .mail_insert>p:nth-child(5){
  padding-bottom:7.8%;
  text-align: right;
}
/* opacity aniamtion*/
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*pages_03*/
.container3 .canvas_list {
  height:300px;
  position: relative;
}
.container3>i.canvas_txt>i{
  background:url(../../statics/images/pages3/fb_txt.png) no-repeat;
  display:block;
  margin:0 auto;
}
.container3>i.canvas_txt {
  text-align: center;
}
.container3>i.canvas_txt>i:nth-child(1) {
  background-position:0 0;
  height:40px;
  width:180px;
  background-size:220px auto;
  margin-bottom:5%;
}
.container3>i.canvas_txt>i:nth-child(2) {
  background-position:0 -30px;
  height:25px;
  width:200px;
  background-size:200px auto;
}
.container3>i.canvas_txt>i:nth-child(3) {
  background-position:0 -60px;
  height:25px;
  width:200px;
  background-size:200px auto;
}
.container3>i.canvas_txt>i:nth-child(4) {
  background-position:0 -102px;
  height:25px;
  width:160px;
  background-size:250px auto;
  position:absolute;
  bottom:3%;
  left:28%;
}
/*2015-01-16 product*/
.container3 .canvas_list i.canvas_pro i{
  background: url(../../statics/images/pages3/product.png) no-repeat;
  display: inline-block;
  background-size:420px auto;
  height:300px;
  position:absolute;
  top:0;
  display:none;
}
.container3 .canvas_list i.canvas_pro>i:nth-child(1){
  background-position:-290px 0;
  width:40px;
}
.container3 .canvas_list i.canvas_pro>i:nth-child(2){
  background-position:-170px -94px;
  width:46px;
  left:30px;
}
.container3 .canvas_list i.canvas_pro>i:nth-child(3){
  background-position:-115px -40px;
  width:50px;
  left:68px;
}
.container3 .canvas_list i.canvas_pro>i:nth-child(4){
  background-position:0px -50px;
  width:65px;
  left:40%;
}
.container3 .canvas_list i.canvas_pro>i:nth-child(5){
  background-position:-220px -20px;
  width:62px;
  right:76px;
}
.container3 .canvas_list i.canvas_pro>i:nth-child(6){
  background-position:-62px -58px;
  width:50px;
  right:34px;
}
.container3 .canvas_list i.canvas_pro>i:nth-child(7){
  background-position:-338px -140px;
  width:40px;
  right: 5px;
}
/*animation class*/
.bigger {
  animation:bigger 5s ease-in-out;
  -webkit-animation:bigger 5s ease-in-out;
}
/*bigger-one show*/
@-webkit-keyframes bigger {
  0%{  
    top:-300px;
    opacity: 0;
  }
  11.1%,33.3%,55.5%,77.7%,100%{
    top:0;
    opacity: 1;
  }
  22.2%{  
    top:-100px;
    opacity: 0.6;
  }
  44.4%{ 
    top:-50px;
    opacity: 0.8;  
  }
  66.6%{ 
    top:-15px;
    opacty: 0.9; 
  }
  88.8%{  
    top:-5px;
    opacty: 1; 
  } 
}
.container3 .canvas_list>i.circle>i{
  background: url(../../statics/images/pages3/circle.png) no-repeat;
  display: inline-block;
  background-size:420px auto;
  height:300px;
  position:absolute;
  top:0;
  opacity: 1;
  display:none;
}
.container3 .canvas_list>i.circle>i:nth-child(1){
  background-position:0 -20px;
  width:10px;
  left:4px;
}
.container3 .canvas_list>i.circle>i:nth-child(2){
  background-position:-42px -20px;
  width:14px;
  left:30px;
}
.container3 .canvas_list>i.circle>i:nth-child(3){
  background-position:-96px -40px;
  width:18px;
  left:64px;
}
.container3 .canvas_list>i.circle>i:nth-child(4){
  background-position:-160px -40px;
  width:18px;
  left:100px;
}
.container3 .canvas_list>i.circle>i:nth-child(5){
  background-position:-190px -15px;
  width:18px;
  left:120px;
}
.container3 .canvas_list>i.circle>i:nth-child(6){
  background-position:-250px -25px;
  width:18px;
  right:138px;
}
.container3 .canvas_list>i.circle>i:nth-child(7){
  background-position:-280px -20px;
  width:18px;
  right:116px;
}
.container3 .canvas_list>i.circle>i:nth-child(8){
  background-position:-330px -20px;
  width:18px;
  right:76px;
}
.container3 .canvas_list>i.circle>i:nth-child(9){
  background-position:-392px -24px;
  width:18px;
  right:34px;
}
.container3 .canvas_list>i.circle>i:nth-child(10){
  background-position:-160px -106px;
  width:18px;
  right:2px;
}
.opacity {
  animaition:opacity 3s;
  -webkit-animation:opacity 3s;
}
/*opacity*/
@-wekbit-frames opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



